
#reharper crap
ImmortalDriverTests/_[Rr]e[Ss]harper*
/**/_ReSharper.*
*.[Rr]e[Ss]harper.user

#VS crap
*.suo
*.sln.cache
*.csproj.user
ImmortalDriverTests/**/bin/
ImmortalDriverTests/**/obj/
out/
bin/
obj/
*.DotSettings.user