
#reharper crap
# net/src/*[Rr]e[Ss]harper*
net/src/_[Rr]e[Ss]harper*
net/src/**/_ReSharper.*
*.[Rr]e[Ss]harper.user
net/src/Ohio.*.ReSharper

#VS crap
*.suo
*.sln.cache
*.csproj.user
net/src/**/bin/
net/src/**/obj/
out/
bin/
obj/
*.DotSettings.user