@{
    ViewBag.Title = "Home Page - Current Time : " + DateTime.Now.Ticks;
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

<div class="current-time">
	@DateTime.Now.ToString()
</div>

<input class="standard-input" type="text" name="text-box-a" />
<input class="standard-input" type="text" />
<input class="standard-input" type="button" />
